body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-family: $opensans;
  font-weight: 400;
  font-size: $font-size-default;
  line-height: 1.6;
  color: $black;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

* {
  box-sizing: border-box;
}
