$opensans: "Open Sans", "Arial", sans-serif;

$black: #000000;
$white: #ffffff;

$gray: #ebeff0;
$gray-light: #f9fafb;
$gray-dark: #e1e1e1;
$gray-darker: #50535c;

$green: #279358;
$red: #ff7a7a;

$font-size-default: 11px;
$font-size-large: 16px;
$font-size-h1: 24px;
